.app {
  background-color: #ffca3a;
  padding: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #8ac926;
  padding: 20px;
  gap: 20px;
  border-radius: 8px;
}

button {
  background-color: #6a4c93;
  cursor: pointer;
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

input {
  width: 75%;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  border: 2px solid #fff;
}

input:focus {
  border: 2px solid #6a4c93;
}

ul {
  color: #fff;
  width: 100%;
  background-color: #1982c4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
}

li {
  display: flex;
  justify-content: space-between;
}